<p-panel header="Number Pipes" [showHeader]="true" class="p-1">
  <h1>Basic Pipes</h1>
  <p>
    Pipes that come preinstalled in Angular - Usually come within the Common Module
  </p>
</p-panel>

<div class="grid">

  <div class="col-12 md:col-4">
    <p-card header="Net sales" subheader="number">
      {{totalSells + 1235 | number:'1.2-2' }}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="Gross sales" subheader="currency">
      {{totalSells | currency:'EUR':'symbol-narrow':'1.6-6' }}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="Percentage of Sales" subheader="percent">
      {{percent | percent:'1.2-2' }}
    </p-card>
  </div>

</div>
